<div>There is an unHandel error</div>
<a asp-action="Index" asp-controller="Home">Clik here to go back home</a>
@*<h1>Exception Path :  @ViewBag.Exceptionpath</h1>
<hr />
<h1>Exception Message :  @ViewBag.ExceptionMessage</h1>
<hr />
<div class="alert alert-danger"><h1> Exception Stack : </h1> @ViewBag.StackMessage</div>*@